@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.backa{
    width: 100%;
      min-height: 100vh;
      background:  url('../../assets/00.png');
      height: 700px;
      background-size: cover;
      background-position: center;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -100px;
  }
  .backa h3{
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    color: #fff;
    position: relative;
    top: -250px;
    left: 500px;
  }
.carda {
    position: relative;
    left: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    border-radius: 24px;
    line-height: 1.6;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    margin: 10px;
  }
  
  .contenta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 36px;
    border-radius: 22px;
    color: #ffffff;
    overflow: hidden;
    background: #003;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .contenta img{
    width: 50px;
    height: 50px;
  }
  .contenta::before {
    position: absolute;
    content: "";
    top: -4%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%);
    background: #002;
    z-index: -1;
    transform-origin: bottom;
  
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .contenta::after {
    position: absolute;
    content: "";
    top: -8%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%);
    background: #002;
    z-index: -2;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .contenta svg {
    width: 48px;
    height: 48px;
  }
  
  .contenta .para {
    z-index: 1;
    opacity: 1;
    font-size: 18px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .contenta .link {
    z-index: 1;
    color: #fea000;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .contenta .link:hover {
    text-decoration: underline;
  }
  
  .carda:hover {
    transform: translate(0px, -16px);
  }
  
  .carda:hover .content::before {
    rotate: -8deg;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .carda:hover .contenta::after {
    rotate: 8deg;
    top: 0;
    width: 100%;
    height: 100%;
  }